<html>

<head>
<title>adhs for Wikidata EntitySchemas</title>
</head>

<body>
    <h1>Ad-hoc SPARQL endpoint for Wikidata EntitySchemas</h1>
    <form action="{{host}}/sparql" method="get">
        <textarea name="query" rows="12" cols="100">PREFIX shex: <http://www.w3.org/ns/shex#>

SELECT DISTINCT ?schema ?shape WHERE {
    ?schema a shex:Schema .
    ?schema shex:shapes ?shape
}
# to get the original ShExC use e.g.
#PREFIX shex: <http://www.w3.org/ns/shex#>
#SELECT DISTINCT ?schema ?shexc WHERE {
#    ?schema a shex:Schema .
#    ?schema rdfs:comment ?shexc.
#}</textarea>
        <br />
        <label>Result format:</label>
        <select name="output" value="html">
          <option value="text/html">HTML table</option>
          <option value="application/sparql-results+json">JSON</option>
          <option value="application/sparql-results+xml">XML</option>
        </select>
        <input type="submit" value="Run Query" />
    </form>
    <p><ul><a href="https://toolsadmin.wikimedia.org/tools/id/adhs-wde">tool page on toolsadmin</a></ul></p>
</body>

</html>
